@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers {
        flex-wrap: wrap;
    }
}

/* When screen size is less than 1200 pixel, desktop navigation disappear */
@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }
    
    #profile,
    .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }
    
    
    .section__pic-container {
        width: auto;
        margin: 0 auto 2rem;
        justify-content: center;
        text-align: center;
    }

    .about-containers {
        margin-top: 0;
    }

    .profiles {
        flex-direction: column;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile p {
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 20px;
    }

    .contact-social-row {
        flex-direction: column;;
    }

    #contact-page {
        height: auto;
    }

    .contact-social {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-social p {
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    #contact,
    footer {
        height: 40vh;
    }

    section {
        margin: 0;
    }

    #profile {
        height: 50vh;
        margin-bottom: 0;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;   
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .about-details-container {
        margin: 20px 20px 20px 20px;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p, 
    .nav-links li a {
        font-size: 1rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    } 

    .about-pic {
        border-radius: 2rem;   
        height: 200px;
        width: auto;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }

    .heading {
        font-size: 40px;
        color: white;
        text-align: center;
    }

    .profiles {
        margin: 20px 0;

    }

    .profile p {
        margin: 20px 10px 80px 10px;
    }

    .contact-social-row {
        margin: 20px 0;

    }

    .contact-social p {
        margin: 20px 10px 80px 10px;
    }

}